@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #fafafa;
}

article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 280px;
}

main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    min-height: 630px;
    width: 100%;
}

/* Containers */
.bg-white {
    background-color: #fff;
    border: 1px solid rgba(212, 212, 212, 0.856);
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Image container */
#image-container {
    background: url(../images/phone/phone.png) no-repeat bottom;
    position: relative;
    height: 650px;
    width: 400px;
}

/* Carousel */
.carousel {
    float: right;
    right: 26px;
    top: 40px;
    position: absolute;
}

.carousel-image {
    -webkit-animation: opacity 8s;
    animation: opacity 8s;
    -webkit-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    transition: 1.5s ease;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Login container */
#login-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    min-width: 275px;
    width: 352px;
}

/* Logo */
.logo {
    height: 145px;
    line-height: 200px;
}

/* Form */
form div.form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 13px auto;
    position: relative;
    width: 82%;
}

form input, form button {
    background-color: transparent;
    border: none;
    height: 15px;
    margin: auto;
    padding: 0 6px;
    width: 100%;
}

/* Background color for user and password */
form div.input-user {
    background-color: #fafafa;
    border: 1px solid rgba(212, 212, 212, 0.856);
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
}

/* Label */
form label {
    color: #707070;
    cursor: text;
    display: block;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 1px 0 0 6px;
    position: absolute;
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;  
}

form input:active ~ form input:focus ~ label, form div.form-box input:valid ~ label {
    height: 10px;
    padding-left: 5px;
    line-height: 9px;
    font-size: 10px;
}

/* Input password and show/hide */
form div.password-view button {
    color: #262626;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 100%;
    padding: 0 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form div.password-view {
    display: none;
}

form input#password:valid ~ div.password-view {
    display: block;
}

form span.password-hide {
    display: none;
}

/* Log in */
form button#login {
    background-color: #b2dffb; /*It is defined in the form.js as inputLogin.style.background*/
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
}

/* Or and bars */
form div.box-or {
    height: 36px;
    line-height: 36px;
}

form div.box-or div.bar {
    border-top: 0.8px solid rgba(129, 128, 128, 0.74);
    display: block;
    height: 17px;
    position: relative;
    top: 18px;
    width: 160px;
}

form div.box-or div.text {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    width: 65px;
}

/* Facebook log in */
form div.box-facebook button {
    border: none;
    border-radius: 4px;
    color: #29487d;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 35px;  
    line-height: 35px;
}

/* Forgot password */
form div.box-forgot-password a {
    color: #2c7cb1;
    font-size: 13px;
}

/* New user */
div.new-user {
    font-size: 13px;
    line-height: 13px;
    padding: 20px 0;
}
        
div.new-user p a {
    color: #0095f6;
    font-weight: 600;
}
        
/* Get the app */
div.get-the-app {
    height: 100px;
}

div.get-the-app p {
    padding: 12px 0;
    font-size: 13.4px;
}
    
div.get-the-app span.badge img {
    width: 130px;
}
    
/* Footer */
footer {
    color: #8e8e8e;
    font-size: 12px;
    margin: 0 auto;
    min-width: 280px;
}

footer ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;  
    position: relative;
}

footer li {
    margin: 5px;
}

footer a {
    color: #8e8e8e;
    text-align: center;
}

/* Select language */
li.select-language {
    position: relative;
    width: auto;
} 

span.current-language {
    height: 100%;
    position: relative;
    width: 100%;
}

select {
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

/* My social networks */
.thenextbunny {
    font-size: 13px;
    text-align: center;
}

.thenextbunny img {
    -webkit-filter: invert(62%) sepia(1%) saturate(3974%) hue-rotate(24deg) brightness(92%) contrast(80%);
    filter: invert(62%) sepia(1%) saturate(3974%) hue-rotate(24deg) brightness(92%) contrast(80%);
    height: 25px;
    margin: 10px 0;
    -webkit-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
    width: 25px;
}

.thenextbunny img:hover {
    -webkit-filter: none;
    filter: none;
}

/* Media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #image-container {
        display: none;
    }

    form div.box-facebook button {
        background-color: #0095f6;
        color: #fff;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #image-container {
        display: none;
    }
        
    form div.box-facebook button {
        background-color: #0095f6;
        color: #fff;
    }
}
    
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #image-container {
        display: none;
    }

    form div.box-facebook button {
        background-color: #0095f6;
        color: #fff;
    }
}
    
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /**/
}
    
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /**/
} 